<% target = local_assigns[:model] || local_assigns[:resource] %>

<% if target && target.errors.any? %>
  <div class="form-error-box text-danger mb-3" data-turbo-cache="false">
    <h5 class="mb-2">
      <%= target.errors.count %>件のエラーがあります：
    </h5>
    <ul class="mb-0 ps-3">
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
